@{
    ViewBag.Title = "Materiais";
    Business.Material material = ViewBag.Material;
}

<div class="jumbotron">
    <h3>Novo Material</h3>
    <div>
        <a href="/Materiais" class="btn btn-default">Voltar</a>
    </div>

    <form action="/Materiais/Alterar/@material.Cd_material" method="post">
        <div class="form-group">
            <label for="descricao">Descrição</label>
            <input type="text" class="form-control" id="descricao" name="descricao" value="@material.Descricao" />
        </div>

        <div class="form-group">
            <label for="un_medida">Un. Medida</label>
            <select class="form-control" id="un_medida" name="un_medida">
                <option value="0">...</option>
                <option value="UN">UN</option>
                <option value="KG">KG</option>
                <option value="LT">LT</option>
            </select>
        </div>

        <div class="form-group">
            <label for="valor_unitatio">Valor Unitário</label>
            <input type="text" class="form-control" id="valor_unitatio" name="valor_unitatio" value="@material.Valor_unitario" />
        </div>

        <button type="submit" class="btn btn-default">Salvar</button>
    </form>

</div>