
<div class="form-group">
    <div class="col-md-offset-2 col-md-4">
        <a href="/Dados" class="btn btn-default max-width">Meus dados</a>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-4">
        <a href="/Pedidos" class="btn btn-default max-width">Meus pedidos</a>
    </div>
</div>

<div class="form-group">
    <div class="col-md-offset-2 col-md-4">
        <a href="/Pedidos/Novo" class="btn btn-default max-width">Novo pedido</a>
    </div>
</div>

