<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5.2" />
      <httpRuntime targetFramework="4.5.2" />

      <sessionState timeout="30"></sessionState>
    </system.web>

    <appSettings>
      <add key="SqlConnection" value="Server=DESKTOP-EDCNMVH\MSSQLSERVER1;Database=Ex_WEB_3_Camadas;User Id=sa;Password=al@@2019;"/>
    </appSettings>

</configuration>
